browser=chrome
url=https://www.amazon.com/
signIn_btn_xpath=//span[contains(text(),'Hello, Sign in')]
*******Login Page data*********
email=sush.rinwa@gmail.com
password=sushila231082
*********Login page object repo**************

email_xpath=//input[@id='ap_email']
password_xpath=//input[@id='ap_password']
signIn_Button_xpath=//input[@id='signInSubmit']
create_amazon_account_xpath=//a[@id='createAccountSubmit']

app_customername=Sushila
app_customername_xpath=//input[@id='ap_customer_name']
password_check_xpath=//input[@id='ap_password_check']
create_account_xpath=//input[@id='continue']
